
.panier-hover {
  transition: color 0.1s, transform 0.1s;
  color: #6c757d;
}

.panier-hover:hover {
  transition: 0.4s;
  color: #ff8e3a;
  transform: translateX(3px); 
}

.txt-hover {
  transition: 0.4s; 
}

.txt-hover:hover {
  transition: 0.4s;
  text-decoration: underline;
  text-decoration-thickness: 5px;
  text-underline-offset: 5px;
  text-decoration-color: #ff8e3a;
}

.square{
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color:  #ff8e3a;
  color: #303030;
  border-radius:50%;
  width: 270px;
  height: 270px;
  transition: 0.7s;

}
.square:hover{
  background-color:  #b25f20;
  color: white;
  transition: 0.7s;
  width: 300px;
  height: 300px;
}
.text-orange{
  color:#ff8e3a;
}

.tdn{
  text-decoration: none;;
}

.fxbtn {
  width: 250px;
}