
.hover {
  transition: color 0.2s;
  color: #ac5b26;
  transition: 0.2s;
}
.hover:hover {
  transition: 0.2s;
  color: #ff8e3a;
}
.hover-2 {
  transition: color 0.2s;
  color: #593924;
  transition: 0.2s;
}
.hover-2:hover {
  transition: 0.2s;
  color: #fbe2d0;
}

.txt-hover { transition: 0.4s;}
.txt-hover:hover {
  transition: 0.5s;
  text-decoration: underline;
  text-decoration-color: #ff8e3a;
  text-decoration-thickness: 8px;
  text-underline-offset: 10px;
  
}

.card-custom {
  background-color:#fbe2d0;; 
  border-radius: 10px; 
  text-decoration: none;
  color:black;
  padding-bottom: 5px;
  transition: transform 0.6s; 
  transform: scale(0.9);
  width: 300px;
}
.card-custom:hover {
  transition: transform 0.2s, box-shadow 0.3s;
  transform: scale(1);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.sb-fix{
  background-color: #f8f9fa;
  margin-bottom: 80px ;
}

