
.my-container {
  padding-top: 100px; 
  padding-bottom: 50px; 
}

.panier-hover {
  transition: color 0.1s, transform 0.1s;
  color: #6c757d;
}

.panier-hover:hover {
  transition: 0.4s;
  color: #ff8e3a;
  transform: translateX(3px); 
}

.txt-hover {
  transition: 0.4s; 
}

.txt-hover:hover {
  transition: 0.4s;
  text-decoration: underline;
  text-decoration-thickness: 5px;
  text-underline-offset: 5px;
  text-decoration-color: #ff8e3a;
}